[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
mongoengine = "*"
setuptools = "*"
python-dotenv = "*"
pipenv = "*"
nltk = "*"
python-levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.6"
